body{
    overflow: hidden;
  }
  
  .Home {
    text-align: center;
    background: linear-gradient(-45deg, #1B49BE, #8734C8 60%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    overflow: hidden;
    color: white;
  }
  
  .Home-logo {
    height: 20vmin;
    margin: 5vh;
  }
  
  .button-style {
    height: fit-content;
    margin-bottom: 1vmin;
  }
  
  #sign-in-text {
    color: white;
    font-size: calc(10px + 3vmin);
    font-weight: bold;
  }
  
  #left-hotel-image-container {
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    right: 75%;
    bottom: 5%;
    overflow: hidden;
    border-radius: 50%;
  }
  
  #right-hotel-image-container {
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    left: 75%;
    top: 5%;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .hotel-image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }